<%- include('../../../../partiels/haederAdminCpanel.ejs');-%>

<div class="container-fluid">

    

  <section class="container">
    <hr>
    <h2>Lista negra</h2>
    
    <hr> 

    <table class="table table-bordered">

        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>NIVEL</th>
            
        </thead>
        <tbody >
        <div class="rolagem-Content-Default">
                
          <%user.forEach(user=>{%>
                <tr>
                  <td><%=user.id%></td>
                  <td><%=user.name%></td>
                  <td class="text-danger"><%=user.perfil%></td>
                  
                    
                </tr>
                <%  })%>
           
        </div>
        </tbody>
    </table>
</section>

  </div>

</div>


<script>
  function confirmacaoform(event, form) {
      event.preventDefault();
      var decision = confirm("Você quer adicionar este usuário na lista negra? ");
  
      if (decision) {
          form.submit();
      }
  }
  </script>
<!-- End of Main Content -->



  <%- include('../../../../partiels/footerAdminCpanel.ejs');-%>